# --- MySQL ---
MYSQL_ROOT_PASSWORD=root_supersecreta
MYSQL_DATABASE=driveflow
MYSQL_USER=driveflow
MYSQL_PASSWORD=driveflow_secreta
MYSQL_PORT=3306

# --- API ---
PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=driveflow
DB_PASSWORD=driveflow_secreta
DB_NAME=driveflow